
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

header {
    text-align: center;
    font-family: sans-serif;
}

p {
    margin: 0;
}

.start-button {
    text-align: center;
    margin-top: 20px;
}

.start-btn {
    background-color: #381C99;
    font-size: 18px;
    padding: 5px 16px;
    border-radius: 4px;
    color: white;
    border: none;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
}

.hs-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    border: none;
    background-color: white;
    color: #8A2BE2; 
}

.questions-container header {
    text-align: left; 
}

.btn {
    display: block;
    background-color: #381C99;
    font-size: 18px;
    padding: 5px 16px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 5px;
    width: 220px;
    text-align: left;
}

.end-quiz header {
    text-align: left;
}

#sub-btn {
    background-color: #381C99;
    font-size: 15px;
    padding: 2px 14px;
    border-radius: 4px;
    color: white;
    border: none;
}

.high-scores h1 {
    text-align: left;
    margin-bottom: 10px;
}
.end-btn {
    background-color: #381C99;
    font-size: 15px;
    padding: 2px 14px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-right: 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

